body,html {
    margin: 0;
    padding: 0;
}

body {
    visibility: hidden;
    background: #fff;
    color: #000;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.5;
    cursor: url("http://icons.iconarchive.com/icons/hektakun/pokemon/48/105-Marowak-icon.png"), auto;
}


}
.background_png {
	background-size: 100% 100%;
    margin-top: -100px;
    position: fixed;
    z-index: 10000;
    height: 80px;
    width: 1200px;

}

.site_header {

    float: left;
    clear: both;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 40px;
    z-index: 10000;
    margin-top: 100px;
    position: fixed;

}


.header_image {
    display: inline-block;
    margin-right: 20px;
    vertical-align: bottom;
}

.header_image img {
    max-height: 200px;
    width: auto;
}

.header_text {

    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    word-wrap: break-word;
    z-index: 999;
    display: inline-block;
    vertical-align: bottom;
    font-family: avenir;
}

.header_text a {
    color: #ffa300;
    text-decoration: none;
    position: fixed;
    margin-top: -50px;
    margin-left: -260px;

}


}

.header_text a:active {
    color: #999;
    border-bottom: 0;


}


.navigation {

    font-family: myriad pro;
    margin-top: -3px;
    margin-left: 20px;
    position: fixed;
    font-size: 20px;
    line-height: 2;
    z-index: 999;
}

.navigation .following {
    color: #999;
    margin-top: 20px;
}

.set_link.first {
    margin-left: 1em;
}

.set_link.last {
    margin-right: 2em;

}
